---
layout: default
type: standard
tags: charts
caption: GitHub Statistics
projects:
  - timvideos/streaming-system
  - timvideos/gst-switch
  - timvideos/hdmi2usb
  - timvideos/getting-started
  - timvideos/planet
---

{% for project in page.projects_data %}
  {% include project-charts.html %}
{% endfor %}

<script>
  var ProjectsChartsData = {
    {% for project in page.projects_data %}
      '{{ project[1].name }}': {
        'charts': {
          'pieChart': {{ project[1].pie_chart }}
        }
      },
    {% endfor %}
  };
</script>

<script src="{{ "/js/highcharts.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/github-charts.js" | prepend: site.baseurl }}"></script>
