---
layout: default
type: standard
tags: people
caption: TimVideos People

users:
  mithro:
    name: Tim Ansell
    github: true
    description: The “Tim” in Tim Videos. Founder and Leader of the Tim Video’s project.

  # Next Day Video
  xfxf:
    name: Ryan Verner
    github: false
    description: Runs NextDayVideo Australia, records a number of FOSS conferences around Australia including PyCon AU and sometimes Linux.conf.au

  CarlFK:
    github: true
    description: Runs NextDayVideo America, records a number of FOSS conferences around America including PyCon US.

  # HDMI2USB developers
  ajitmathew:
    github: true
    description: GSoC 2014 student who contributed to the HDMI2USB project.

  enjoy-digital:
    github: true
    description: Developer of the current MiSoC based HDMI2USB firmware.

  jahanzeb:
    github: true
    description: Developer of the original "Jahanzeb" HDMI2USB firmware.

  numato:
    github: true
    description: Manufacturer of the Numato Opsis board for the HDMI2USB project.

  rohit91:
    github: true
    description: Creator of the vmodvga board for the HDMI2USB project.

  shenki:
    github: true
    description: Linux Kernel hacker and HDMI2USB contributor.

  # Other
  ApsOps:
    github: true
    description: GSoC 2014 student who did the port of Flumotion to Gstreamer 1.0.

  hyades:
    github: true
    description: GSoC 2013 student who added a gst-switch Python API and test suite.

  deeprave:
    github: true
    description: Contributor to gst-switch and HDMI2USB project.

  MaZderMind:
    github: true
    description: Developer of voctomix, the gst-switch replacement.

  micolous:
    github: true
    description: Developer contributing to everything from the streaming system to the HDMI2USB project.

  pinoss:
    github: true
    description: GSoC 2014 student who did the website improvements.

  sealne:
    github: true
    description: Contributor to the VGA expansion board for the HDMI2USB project.

  sewar:
    github: true
    description: GSoC 2013 student who created https://edid.tv

  stefanor:
    github: true
    description: Debian packager extraordinaire and part of DebConf Video team.

  techman83:
    github: true
    description: Lead developer of eventstreamr tool.

  thaytan:
    github: true
    description: Resident gstreamer expert.

# Sponsors
# Current
## Rackspace
## NextDayVideo
##
# Previous
## Amazon

---

{% for user in page.users_data %}
  {% include user.html %}
{% endfor %}
