---
layout: default
type: standard
tags: stats
caption: GitHub Statistics
loader: true
projects:
  - timvideos/streaming-system
  - timvideos/gst-switch
  - timvideos/hdmi2usb
  - timvideos/getting-started
  - timvideos/planet
---

{% for project in page.projects_data %}
  {% include project-charts.html %}
{% endfor %}

<script>
  var ProjectsChartsData = {
    {% for project in page.projects_data %}
    {{ project[1].code_frequency.series }}
      '{{ project[1].name }}': {
        'charts': {
          {% if project[1].pie_chart %}'pieChart': {{ project[1].pie_chart }},{% endif %}
          {% if project[1].code_frequency %}'codeFrequency': {{ project[1].code_frequency }},{% endif %}
          {% if project[1].commit_activity %}'commitActivity': {{ project[1].commit_activity }},{% endif %}
          {% if project[1].commits_per_hour %}'commitsPerHour': {{ project[1].commits_per_hour }},{% endif %}
          {% if project[1].commits_per_weekday %}'commitsPerWeekday': {{ project[1].commits_per_weekday }},{% endif %}
        }
      },
    {% endfor %}
  };
</script>

<script src="{{ "/js/plugins/highcharts.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/github-charts.js" | prepend: site.baseurl }}"></script>
