<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Issues filter</h4>
    </div>
    <div class="panel-body">
      <form class="form-horizontal issues-filter" role="form">
        <div class="form-group issues-title">
          <label for="inputTitle" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control typeahead" id="inputTitle" placeholder="Title" name="title">
          </div>
        </div>
        <div class="form-group">
          <label for="inputBody" class="col-sm-2 control-label">Body</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputBody" placeholder="Body" name="body">
          </div>
        </div>
        <div class="form-group issues-author">
          <label for="inputAuthor" class="col-sm-2 control-label">Author</label>
          <div class="col-sm-10">
            <input type="text" class="form-control typeahead" id="inputAuthor" placeholder="Author" name="author">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default issues-advanced">Advanced search</button>
          </div>
        </div>
        <div class="issues-advanced-search">
          <div class="form-group issues-assignee">
            <label for="inputAssignee" class="col-sm-2 control-label">Assignee</label>
            <div class="col-sm-10">
              <input type="text" class="form-control typeahead" id="inputAssignee" placeholder="Assignee" name="assignee">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Assigneed?</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <input type="checkbox" class="radio-checkbox" id="inputAssigneedYes" name="assigneedYes"> <label for="inputAssigneedYes"><span class="glyphicon glyphicon-ok"></span></label>
              </div>
              <div class="checkbox">
                <input type="checkbox" class="radio-checkbox" id="inputAssigneedNo" name="assigneedNo"> <label for="inputAssigneedNo"><span class="glyphicon glyphicon-remove"></span></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <input type="checkbox" class="radio-checkbox" id="inputStateOpen" name="stateOpen"> <label for="inputStateOpen">open</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" class="radio-checkbox" id="inputStateClosed" name="stateClosed"> <label for="inputStateClosed">closed</label>
              </div>
            </div>
          </div>
          {{ if page.issues_milestones }}
            <div class="form-group issue-milestones-filter">
              <label class="col-sm-2 control-label">Milestone</label>
              <div class="col-sm-10">
                {% for milestone in page.issues_milestones %}
                  <div class="checkbox">
                    <input type="checkbox" class="radio-checkbox issue-milestone" id="inputMilestone{{ milestone.id }}" data-milestone-id="{{ milestone.id }}"> <label for="inputMilestone{{ milestone.id }}"><span data-toggle="tooltip" data-original-title="{{ milestone.description }}{% if milestone.due_on %} \ Due on: {{ milestone.due_on | date: '%b %-d, %Y' }}{% endif %}">#{{ milestone.number }}: {{ milestone.title }}</span></label>
                  </div>
                {% endfor %}
              </div>
            </div>
          {{ endif }}
          {% if page.issues_special_filters %}
            {% for special_filter in page.issues_special_filters %}
              <div class="form-group issue-special-filter">
                <label class="col-sm-2 control-label">{{ special_filter[1].name | capitalize }}</label>
                <div class="col-sm-10">
                  {% for value in special_filter[1].values %}
                    <div class="checkbox">
                      <input type="checkbox" data-special-filter-type="{{ special_filter[0] }}" data-special-filter-value="{{ value }}" id="input{{ special_filter[1].name | capitalize }}{{ value | camelize }}" name="{{ special_filter[1].name | downcase }}{{ value | camelize }}"> <label for="input{{ special_filter[1].name | capitalize }}{{ value | camelize }}">{{ value }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
          {% if page.issues_labels %}
            <div class="form-group">
              <label for="inputLabels" class="col-sm-2 control-label">Labels</label>
              <div class="col-sm-10">
                <div class="labels">
                  {% for label in page.issues_labels %}
                    <span class="label label-tag label-selector" style="background-color: #{{ label.color }}; border-color: {{ label.color | darken_color: 0.8 }}">{{ label.name }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default issues-search">Search!</button>
            <button class="btn btn-default issues-reset">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% for project in page.issues_data %}
  <div class="col-md-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ project[1].name }}</h4>
      </div>
      <div class="panel-body">
        {% for issue in project[1].issues %}
          <div class="row issues">
            <div class="col-sm-10">
              <h5>
                <a href="{{ issue.url }}" class="issue-title">{{ issue.title }}</a>
              </h5>
              <div class="issue" data-milestone-id="{{ issue.milestone_id }}" data-state="{{ issue.state }}" data-author="{{ issue.user_login }}" data-assignee="{{ issue.assignee_login }}"{% for filter in issue.special_filter_value %} data-{{ filter[0] }}="{{ filter[1].value | join: ';' }}"{% endfor %}>
                {% if issue.labels %}
                  <div class="labels">
                    {% for label in issue.labels %}
                      <span class="label label-tag" style="background-color: #{{ label.color }};">{{ label.name }}</span>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="issue-content issue-body">
                  <h4>Issue body</h4>
                  <div>
                    {{ issue.body | markdownify_gfm }}
                  </div>
                  <h4>Issue details</h4>
                  <div class="issue-details">
                    {% for filter in issue.special_filter_value %}
                      {% if filter[1].value %}
                        <div class="issue-detail">
                          <div class="col-sm-4 issue-special-filter-name">
                            {{ filter[1].name | capitalize }}
                          </div>
                          <div class="col-sm-8">
                            {{ filter[1].value | join: ', ' }}
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <button type="button" data-toggle="tooltip" data-original-title="read in {{ issue.body | reading_time }}" class="show-more btn btn-default btn-xs pull-right" >Read more...</button>
                <button type="button" class="hide-more btn btn-default btn-xs pull-right" >Hide issue...</button>
              </div>
              <small class="description">
                #{{ issue.number }} • {{ issue.state }} • {{ issue.date | date: "%b %-d, %Y" }} • {{ issue.user_login }}
                {% if issue.milestone_number %}
                 • Milestone: <span data-toggle="tooltip" data-original-title="{{ issue.milestone_state }} / {{ issue.milestone_title }}{% if issue.milestone_due_on %} \ Due on: {{ issue.milestone_due_on | date: '%b %-d, %Y' }}{% endif %}">#{{ issue.milestone_number }}</span>
                {% endif %}
                {% if issue.assignee_login %}
                 • Assignee: <a href="{{ issue.assignee_url }}">{{ issue.assignee_login }}</a>
                {% endif %}
              </small>
            </div>
            <div class="col-sm-2">
              <a href="{{ issue.user_url }}" class="pull-right">
                <img src="{{ issue.user_avatar }}" class="img-circle">
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
