{% for project in page.issues_data %}
  <div class="col-md-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><span class="hidden-xs">{{ project[1].name }}</span></h4>
      </div>
      <div class="panel-body">
        {% for issue in project[1].issues %}
          <div class="row issues">
            <div class="col-sm-10">
              <h5>
                <a href="{{ issue.url }}">{{ issue.title }}</a>
              </h5>
              <div class="issue">
                {% if issue.labels %}
                  <p class="tags">
                    {% for label in issue.labels %}
                      <span class="label label-tag" style="background-color: #{{ label.color }};">
                        {{ label.name }}
                      </span>
                    {% endfor %}
                  </p>
                {% endif %}
                <p class="issue-content">
                  {{ issue.body }}
                </p>
                <button type="button" data-toggle="tooltip" data-original-title="read in {{ issue.body | reading_time }}" class="show-more btn btn-default btn-xs pull-right" >Read more...</button>
                <button type="button" class="hide-more btn btn-default btn-xs pull-right" >Hide issue...</button>
              </div>
              <small class="description">#{{ issue.number }} • {{ issue.state }} • {{ issue.date | date: "%b %-d, %Y" }} • {{ issue.user_login }}</small>
            </div>
            <div class="col-sm-2">
              <a href="{{ issue.user_url }}" class="pull-right">
                <img src="{{ issue.user_avatar }}" class="img-circle">
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
