{% for category in site.categories %}
<div class="col-sm-12 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>News from developers <span class="pull-right">{{ category | first | upcase }}</span></h4>
    </div>
    <div class="panel-body">
      {% for posts in category %}
        {% for post in posts %}
          {% if post.title %}
            <div class="row news">
              <div class="col-sm-10">
                <h5>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h5>

                <small class="description">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</small>
              </div>
              <div class="col-sm-2">
                <a href="#" class="pull-right">
                  <img src="http://www.gravatar.com/avatar/{{ gravatar }}?d=retro&s=50" class="img-circle">
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}