<div class="col-sm-12 col-lg-6" data-project="{{ project[1].name }}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="name">
        {{ project[1].name }}
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
      <div class="pie-chart"></div>
      <div class="commit-activity"></div>
      <div class="code-frequency"></div>
      <div class="commits-per-weekday"></div>
      <div class="commits-per-hour"></div>
      </div>
    </div>
  </div>
</div>