<p class="share-buttons">
  <span>Share: </span>
  <span class="share-button"><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></span>
  <span class="share-button"><a href="https://twitter.com/intent/tweet?source={{ page.url | prepend: site.url | cgi_escape }}&text=TimVideos.us%20{{ page.title | cgi_escape }}%20{{ page.url | prepend: site.url | cgi_escape }}" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></span>
  <span class="share-button"><a href="https://plus.google.com/share?url={{ page.url | prepend: site.url | cgi_escape }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></span>
</p>